<div class="bg-light mt-5 px-2">
  <div class="row">
    <div class="col-12">
      <p class="lead mt-2"><i class="fas fa-list pr-2"></i>Todos os Albuns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <span class="float-right">
                <a class="btn btn-sm btn-outline-primary mx-1" href="#"><i class="fas fa-search"></i></a>
                <a class="btn btn-sm btn-outline-warning mx-1" href="#"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm btn-outline-danger mx-1" href="#"><i class="fas fa-trash"></i></a>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>
              <span class="float-right">
                <a class="btn btn-sm btn-outline-primary mx-1" href="#"><i class="fas fa-search"></i></a>
                <a class="btn btn-sm btn-outline-warning mx-1" href="#"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm btn-outline-danger mx-1" href="#"><i class="fas fa-trash"></i></a>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>
              <span class="float-right">
                <a class="btn btn-sm btn-outline-primary mx-1" href="#"><i class="fas fa-search"></i></a>
                <a class="btn btn-sm btn-outline-warning mx-1" href="#"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm btn-outline-danger mx-1" href="#"><i class="fas fa-trash"></i></a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>